<h2>Estadísticas</h2>
<br/>
<table class="border-1 margin-auto">
    <tr>
    	<td class="text-left">Total de preguntas</td>
    	<td class="text-right"> <%=sol1%></td>
    </tr>
    <tr>
    	<td class="text-left">Total de comentarios</td>
    	<td class="text-right"> <%=sol2%></td>
    </tr>
    <tr>
    	<td class="text-left">Promedio de comentarios por pregunta</td>
    	<td class="text-right"> <%=sol3%></td>
    </tr>
    <tr>
    	<td class="text-left">Total preguntas sin comentarios</td>
    	<td class="text-right"> <%=sol4%></td>
    </tr>
    <tr>
    	<td class="text-left">Total de preguntas con comentarios</td>
    	<td class="text-right"> <%=sol5%></td>
    </tr>
</table>